# Rust build
/target/
*.rs.bk
*.d
*.rlib
*.rmeta
*.so
*.dSYM
*.exe
*.dll
*.pdb
*.lib
*.obj
*.o
*.a
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.tmp
*.bak
*.old
*.log
*.7z.enc
*.7z.meta
*.key
*.txt
crypt
encrypt
batch*
simple_test*
test_*
my_generated_key.txt
